---
import InputColor from "./inputColor.astro";
---

<div class="flex-col items-start gap-2 hidden px-4 py-4 pl-2 min-w-48 h-full font-mono overflow-y-auto theme-options" id="themeOptions">
  <span class="mb-1 w-full font-semibold text-center text-lg">Custom Theme</span>
  <span class="text-sm">CxDE</span>
  <InputColor title="Background" id="cxde-background" initialColor="#393d42" />
  <InputColor title="Text" id="cxde-text" initialColor="#c5c5c5" />
  <span class="text-sm">HTML</span>
  <InputColor title="Background" id="html-background" initialColor="#1e1e1e" />
  <InputColor title="Tag" id="tag" initialColor="#569cd6" />
  <InputColor title="Delimiters" id="delimiters" initialColor="#808080" />
  <InputColor title="Attributes" id="attributes" initialColor="#9cdcfe" />
  <InputColor title="Values" id="html-values" initialColor="#ce9178" />
  <InputColor title="Text" id="text" initialColor="#d4d4d4" />
  <InputColor title="Comments" id="html-comments" initialColor="#608b4e" />
  <InputColor title="Line numbers" id="html-linenumbers" initialColor="#c6c6c6" />
  <InputColor title="Current line" id="html-currentline" initialColor="#282828" />
  <span class="text-sm">CSS</span>
  <InputColor title="Background" id="css-background" initialColor="#1e1e1e" />
  <InputColor title="Properties" id="properties" initialColor="#9cdcfe" />
  <InputColor title="Values" id="css-values" initialColor="#ce9178" />
  <InputColor title="Brackets" id="css-brackets" initialColor="#ffd700" />
  <InputColor title="Comments" id="css-comments" initialColor="#608b4e" />
  <InputColor title="Selectors" id="selectors" initialColor="#569cd6" />
  <InputColor title="Units" id="units" initialColor="#b5cea8" />
  <InputColor title="Line numbers" id="css-linenumbers" initialColor="#c6c6c6" />
  <InputColor title="Current line" id="css-currentline" initialColor="#282828" />
  <span class="text-sm">JS</span>
  <InputColor title="Background" id="js-background" initialColor="#1e1e1e" />
  <InputColor title="Keywords" id="keywords" initialColor="#569cd6" />
  <InputColor title="Functions" id="functions" initialColor="#d4d4d4" />
  <InputColor title="Strings" id="js-strings" initialColor="#ce9178" />
  <InputColor title="Numbers" id="numbers" initialColor="#b5cea8" />
  <InputColor title="Operators" id="operators" initialColor="#dcdcdc" />
  <InputColor title="Constants" id="js-constants" initialColor="#3dc9b0" />
  <InputColor title="Brackets 0" id="js-brackets-0" initialColor="#ffd700" />
  <InputColor title="Brackets 1" id="js-brackets-1" initialColor="#da70d6" />
  <InputColor title="Brackets 2" id="js-brackets-2" initialColor="#179fff" />
  <InputColor title="Comments" id="js-comments" initialColor="#608b4e" />
  <InputColor title="Line numbers" id="js-linenumbers" initialColor="#c6c6c6" />
  <InputColor title="Current line" id="js-currentline" initialColor="#282828" />
</div>

<style>
  .theme-options::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  .theme-options::-webkit-scrollbar:vertical {
    width: 8px;
  }

  .theme-options::-webkit-scrollbar-button:increment,
  .theme-options::-webkit-scrollbar-button {
    display: none;
  }

  .theme-options::-webkit-scrollbar:horizontal {
    height: 8px;
  }

  .theme-options::-webkit-scrollbar-thumb {
    background-color: #575757;
    border-radius: 10px;
  }

  .theme-options::-webkit-scrollbar-track {
    border-radius: 10px;
  }
</style>
